* {
	margin:0;
	padding:0;
}
body {
	background: #030922;
}
.container{
	width:1000px;
	margin:auto;
	color:#fff;
}
.navigation a{
	color: #DB7C15;
	text-decoration:none;
}

.recommended a{
	color: #DB7C15;
	text-decoration:none;
}

header{
	width: 1000px;
	background: #030B1B;
	float: left;
}

h1{
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
	text-align: center;
}

.remember{
	text-align: center;
}

h3{
	text-align: center;
	margin: 5em;
}

li{
	float: left;
	display: block;
	width: 248px;
	border: #707070 solid 1px;
	height: 66px;
	text-align: center;
	line-height: 66px;
}

.happynewyear{
	border-bottom:dotted blue 5px;
	padding: 30px;
	display: flex;
}

.news {
	background: url("../images/bg-invador.png") no-repeat;
}
.bg-xmas{
	background: url("../images/bg-invador2.png") no-repeat;
	display: flex;
	padding:50px;
}

.bg-xmas img{
	margin-left: 86px ;
}

.Newyearholidays{
	border-bottom: dotted blue 5px;
	padding: 50px 0;
}

.recommended{
	width: 100%;
	height: 68px;
	margin: 0 auto;
}

.recommended li{
	width: 498px;
}

.footer__all{
	background:#030B1B
}

.flex {
	display: flex;
}

address {
	display: flex;
}

.footer__address p{
	margin:20px;
}

.footer__all{
	display: flex;
	justify-content: space-between;
}

footer{
	border-top: solid gray 1px;

}

.footer__img{
	margin:10px;
}