* {
	margin:0;
	padding:0;
}
body {
	background: #030922;
}
.container{
	width:1000px;
	margin:auto;
	color:#fff;
}
.navigation a{
	color: #DB7C15;
	text-decoration:none;
}

header{
	width: 1000px;
	background: #030B1B;
	float: left;
}

li{
	float: left;
	display: block;
	width: 248px;
	border: #707070 solid 1px;
	height: 66px;
	text-align: center;
	line-height: 66px;
}

h1{
	display: flex;
	justify-content: center;
	align-items: center;
}

h3{
	text-align: center;
	margin: 5em;
}
.original-name{
	border-bottom:solid 5px gray;
}

.original-menu{
	text-align: center;
	margin: 50px;
}
.original-menu p{
	margin: 30px;
}
.foodmenu-name{
	border-bottom: solid 5px gray;
}
.food1{
	display: flex;
	margin: 50px;
}
.omeletter{
	margin-right:90px;
	text-align: center;
}
.napolitain{
	margin-left: 90px;
	text-align: center;
}
.food2{
	display: flex;
	margin: 50px;
}
.tomatopasta{
	margin-right: 90px;
	text-align: center;
}
.hamburg{
	margin-left: 90px;
	text-align: center;
}
.food3{
	display: flex;
	margin: 50px;
}
.sandwich{
	margin-right: 90px;
	text-align: center;
}
.pizzatoast{
	margin-left: 90px;
	text-align: center;
}

.coffee-all{
	display: flex;
	margin:100px 0px 50px 90px;
}
.coffee-name{
	margin:40px 50px 0px 0px;
}
.coffee-image{
	margin-left: 70px;
}
.drink-all{
	display: flex;
	margin:100px 0px 50px 90px;
}
.drink-name{
	margin:40px 50px 0px 0px;
}
.drink-image{
	margin-left: 70px;
}


.flex {
	display: flex;
}

address {
	display: flex;
}

.footer__address p{
	margin:20px;
}

.footer__all{
	display: flex;
	justify-content: space-between;
}

footer{
	border-top: solid gray 1px;

}

.footer__img{
	margin:10px;
}
